<?xml version = '1.0' encoding = 'UTF-8'?>
	<Config>
	
		<WindowSettings>
			<Width>1280</Width>
			<Height>720</Height>
			<Fullscreen>FALSE</Fullscreen>
		</WindowSettings>
	
		<RenderSettings>
			<ClearColorR>100</ClearColorR>
			<ClearColorG>100</ClearColorG>
			<ClearColorB>100</ClearColorB>
			<ClearColorA>0</ClearColorA>
			
			<DoubleBuff>TRUE</DoubleBuff>
			<VSync>TRUE</VSync>
 		</RenderSettings>
	
		<GameSettings>
		</GameSettings>

	</Config>