<?xml version = '1.0' encoding = 'UTF-8'?>
	<Config>
	
		<WindowSettings>
			<Width>30</Width>
			<Height>300</Height>
			<Fullscreen>OFF</Fullscreen>
		</WindowSettings>
	
		<RenderSettings>
			<ClearColorR>100</ClearColorR>
			<ClearColorG>100</ClearColorG>
			<ClearColorB>100</ClearColorB>
			
			<DoubleBuff>OFF</DoubleBuff>
			<VSync>ON</VSync>
			
			<FPSLimit>1337</FPSLimit>
 		</RenderSettings>
	
		<GameSettings>
		</GameSettings>

	</Config>